# Node modules
node_modules/

# Log files
*.log

# Environment variables file
.env

# Vercel serverless deployment files
.vercel/

# npm package-lock
package-lock.json

# macOS system files
.DS_Store

# IDE-specific files (for example, VS Code)
.vscode/

# Build files (if applicable)
/build/

# Ignore the db.js file containing sensitive credentials
db.js
